
#carrousel{
    width: 800px;
    height: 400px;
    border : solid 4px #FFF;
    box-shadow: 0 0 14 rgba(0,0,0,0.3);
    position: relative;
    overflow : hidden;
    margin: auto;
}
.Photo{
    width: 800px;
    height: 400px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}
#container{
    width: 800px;
    height: 400 px;
}

.bouton{
    position:absolute;
    width :70px;
    cursor:pointer;
    top : 150px;
}

#g{
    left:0;
    opacity:0.7;
    transform:rotate(180deg);
    transition:all 0.3s ease;
}
#d{
    right: 0;
    opacity: 0.7;
    transform:rotate(0deg);
    transition:all 0.3s ease;
    
}
#g:hover{
    transform:scale(1.5);
    opacity: 1;
    transform: rotate(180deg);
    transition:all 0.3s ease;
}
#d:hover{
    transform:scale(1.5);
    opacity: 1;
    transform: rotate(0deg);
    transition:all 0.3s ease;
}
/* -----------------------------media queries ---------------------------------- */


